---
import Base from "../layout/Base.astro";
import Supabase from "../icons/Supabase.astro";
import AstroIcon from "../icons/AstroIcon.astro";
export const prerender = true;
const title = "Supabase and Astro Demo"; 
---

<Base title={title}>
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center relative overflow-hidden">
    <div id="starfield" class="absolute inset-0 z-0"></div>
    <h1 class="text-2xl sm:text-4xl font-bold text-center">{title}</h1>

   

    <ul class="flex gap-6 items-center font-bold text-2xl mt-6">
      <li
        class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
      >
        <AstroIcon />
      </li>
       &plus;
      <li
        class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
      >
        <Supabase />
      </li>
    </ul>
    <p class="mt-6 max-w-prose">This page was pre-rendered at build time</p>
    <a
      href="https://github.com/kevinzunigacuellar/astro-supabase"
      class="font-mono max-w-prose underline underline-offset-2 hover:text-blue-700 text-blue-600 dark:text-blue-500 dark:hover:text-blue-400"
      >Source code on GitHub</a
    >

  </main>
</Base>

<style is:inline>
  #starfield {
    animation: moveSide 10s ease-in-out infinite alternate;
  }
  @keyframes moveSide {
    0% {
      transform: translateX(0) scale(1);
    }
    100% {
      transform: translateX(2%) scale(1.05);
    }
  }
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
  
    border-radius: 50%;
    box-shadow: 0 0 15px 0px rgba(93, 193, 243, 0.404);
    
    animation: light 5s ease-in-out infinite;
  }
  @keyframes light {
    0% {
      background: rgba(93, 193, 243, 0.15);
      filter: blur(1px);
    }
    50% {
      background: rgba(147, 210, 242, 0.735);
    }
    100% {
      background: rgba(93, 193, 243, 0.15);
      filter: blur(3px);
    }
  }
</style>




<script is:inline>
  function createStar() {
    const star = document.createElement('div');
    const size = Math.random() * 8 + 2; 
    star.className = 'star';
    star.style.left = `${Math.random() * 100}%`;
    star.style.top = `${Math.random() * 100}%`;
    star.style.width = size + 'px';
    star.style.height = size + 'px';
    star.style.opacity = `${Math.random() * 100}%`;
    return star;
  }

  function animateStars() {
   
    const starfield = document.getElementById('starfield');
   
    setInterval(() => {
      const star = createStar();
      starfield?.appendChild(star);
      
      setTimeout(() => {
        const fadeOut = setInterval(() => {  
          star.style.opacity = parseFloat(star.style.opacity) - 0.05;
          star.style.top = parseFloat(star.style.top) + 2 + '%';
          star.style.left = parseFloat(star.style.left) + 0.5 + '%';
          if (parseFloat(star.style.opacity) <= 0) {
            clearInterval(fadeOut);
            star.remove();
          }
        }, 50);
      }, Math.random() * 5000 + 10000);
    }, 100);
  }

  document.addEventListener('astro:page-load', animateStars());
</script>
